<div class="w-100 header red-band">
  <div class="container text-right min-width-90 pr-5 pl-5">
    <a class="social-icon-a" href="http://ww.facebook.com/tedxmontebelluna/" target="_blank">
      <img class="social-icon-img" src="assets/img/icon-fb.png">
    </a>
    <a class="social-icon-a" href="http://www.instagram.com/tedxmontebelluna/" target="_blank">
      <img class="social-icon-img" src="assets/img/icon-ig.png">
    </a>
    <a class="social-icon-a" href="http://www.linkedin.com/company/tedxmontebelluna/" target="_blank">
      <img class="social-icon-img" src="assets/img/icon-in.png">
    </a>
    <a class="social-icon-a" href="http://www.youtube.com/channel/UCgYPUCmieDUpA8CkRUjT7rQ/" target="_blank">
      <img class="social-icon-img" src="assets/img/icon-yt.png">
    </a>
  </div>
</div>

<nav class="navbar navbar-light navbar-expand-xl bg-faded justify-content-center raleway-medium">
  <div class="container min-width-90">
    <a routerLink="/home" class="navbar-brand"
       (click)="isNavbarCollapsed=true">
      <img alt="TEDxMontebelluna" src="assets/img/TEDxMontebelluna_logo.png" class="navbar-logo-img pt-2 pb-2">
    </a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [collapse]="isNavbarCollapsed"
         (collapsed)="onNavbarCollapsed()"
         [isAnimated]="true"
         class="navbar-collapse collapse w-100 text-center"
         #collapsingNavbar>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link"
             [ngClass]="{'raleway-bold text-red': router.url === '/about'}"
             routerLink="/about"
             (click)="isNavbarCollapsed=true">
            About TED
          </a>
        </li>
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link"
             [ngClass]="{'raleway-bold text-red': router.url === '/team'}"
             routerLink="/team"
             (click)="isNavbarCollapsed=true">
            Team
          </a>
        </li>
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link"
             [ngClass]="{'raleway-bold text-red': router.url.startsWith('/speakers')}"
             routerLink="/speakers"
             (click)="isNavbarCollapsed=true">
            Speakers
          </a>
        </li>
        <li class="nav-item pl-2 pr-2" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button" id="navbarDropdown1">
            Edizioni
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu text-center">
            <a ngbDropdownItem href="https://www.tedxmontebelluna.com/2019/" target="_blank">2019</a>
            <a ngbDropdownItem href="https://www.tedxmontebelluna.com/2018/" target="_blank">2018</a>
          </div>
        </li>
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link"
             [ngClass]="{'raleway-bold text-red': router.url === '/partners'}"
             routerLink="/partners"
             (click)="isNavbarCollapsed=true">
            Partners
          </a>
        </li>
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link"
             [ngClass]="{'raleway-bold text-red': router.url === '/gallery'}"
             routerLink="/gallery"
             (click)="isNavbarCollapsed=true">
            Gallery
          </a>
        </li>
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link"
             [ngClass]="{'raleway-bold text-red': router.url === '/contatti'}"
             routerLink="/contatti"
             (click)="isNavbarCollapsed=true">
            Contatti
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="newsletter w-100 red-band text-white text-center">
  <div class="container min-width-90 pt-4 pb-4">
    <div class="w-100">
      <h1>
        Newsletter
      </h1>
    </div>
    <div class="w-100 raleway-bold">
      Iscriviti alla newsletter di TEDxMontebelluna per restare sempre aggiornato
    </div>
    <div class="w-100 py-3 px-5">
      <form class="form-inline justify-content-center" [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">
        <div>
          <input type="text" class="form-control newsletter-input m-1" placeholder="Nome*" formControlName="firstName">
          <input type="text" class="form-control newsletter-input m-1" placeholder="Cognome*" formControlName="lastName">
          <input type="text" class="form-control newsletter-input m-1" placeholder="Email*" formControlName="email" [email]="true">
        </div>
        <div class="newsletter-subscription-submit-tooltip"
             placement="top"
             [ngbTooltip]="newsletterForm.invalid ? 'Compila i campi richiesti' : ''">
          <button type="submit"
                  class="btn btn-outline-light newsletter-btn px-5 m-1 raleway-bold"
                  [disabled]="newsletterForm.invalid">
            <span *ngIf="!loading">Invia</span>
            <div *ngIf="loading" class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>
          </button>
        </div>
      </form>

    </div>
    <div class="w-100 privacy-disclaimer">
      Iscrivendoti accetti il trattamento della tua mail per ricevere le nostre comunicazioni come
      descritto nella <a href="javascript:;" (click)="openPrivacyModal()">Privacy Policy</a> del sito. I tuoi dati non verranno mai condivisi con altri soggetti.
    </div>
  </div>
</div>

<div class="footer w-100">
  <div class="container min-width-90 pt-5 pb-5">
    <div class="row">
      <div class="col-md-7">
        <img alt="TEDxMontebelluna" src="assets/img/TEDxMontebelluna_logoW.png" class="navbar-logo-img mb-5">
        <p>
          Comitato Promotore TEDxMontebelluna
          <br>
          Piazza Oberkochen 25/4 - 31044 Montebelluna (TV)
          <br>
          C.F. 92044330261 - P.IVA 04938770262
          <br>
          info@tedxmontebelluna.com
        </p>
      </div>
      <div class="col-md-5 text-center">
        <div class="pt-5">
          <div class="follow-us-footer">Follow us on</div>
          <br>
          <a class="social-icon-a-footer" href="http://ww.facebook.com/tedxmontebelluna/" target="_blank">
            <img class="social-icon-img-footer" src="assets/img/icon-fb.png">
          </a>
          <a class="social-icon-a-footer" href="http://www.instagram.com/tedxmontebelluna/" target="_blank">
            <img class="social-icon-img-footer" src="assets/img/icon-ig.png">
          </a>
          <a class="social-icon-a-footer" href="http://www.linkedin.com/company/tedxmontebelluna/" target="_blank">
            <img class="social-icon-img-footer" src="assets/img/icon-in.png">
          </a>
          <a class="social-icon-a-footer" href="http://www.youtube.com/channel/UCgYPUCmieDUpA8CkRUjT7rQ/" target="_blank">
            <img class="social-icon-img-footer" src="assets/img/icon-yt.png">
          </a></div>
      </div>
    </div>
  </div>
</div>
