<div class="modal-header">
  <h4 class="modal-title raleway-bold">PRIVACY POLICY COOKIES</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="raleway-bold">Cosa sono i cookie?</p>
  <p>I cookie sono brevi frammenti di testo (lettere e/o numeri) che permettono al server web di
    memorizzare sul client (il browser) informazioni da riutilizzare nel corso della medesima
    visita al sito (cookie di sessione) o in seguito, anche a distanza di giorni (cookie
    persistenti). I cookie vengono memorizzati, in base alle preferenze dell’utente, dal singolo
    browser sullo specifico dispositivo utilizzato (computer, tablet, smartphone). Tecnologie
    similari, come, ad esempio, web beacon, GIF trasparenti e tutte le forme di storage locale
    introdotte con HTML5, sono utilizzabili per raccogliere informazioni sul comportamento
    dell’utente e sull’utilizzo dei servizi. Nel seguito di questo documento faremo riferimento ai
    cookie e a tutte le tecnologie similari utilizzando semplicemente il termine “cookie”.</p>

  <p class="raleway-bold">Tipologie di cookie</p>
  <p>In base alle caratteristiche e all’utilizzo dei cookie possiamo distinguere diverse categorie:</p>

  <p class="raleway-bold">I cookies di prima parte</p>
  <p>Ovvero i cookies che appartengono al sito dell’editore che li ha creati, sono impostati dal
    sito web visitato dall’utente, il cui indirizzo compare nella finestra URL. L’utilizzo di tali
    cookies permette di far funzionare il sito in modo efficiente e di tracciare i modelli di
    comportamento dei visitatori.</p>

  <p class="raleway-bold">Cookie strettamente necessari.</p>
  <p>Si tratta di cookie indispensabili per il corretto funzionamento del sito e sono utilizzati, ad
    esempio, per gestire il login e l’accesso alle funzioni riservate del sito. La durata dei cookie
    è strettamente limitata alla sessione di lavoro (chiuso il browser vengono cancellati)</p>

  <p class="raleway-bold">Cookie di analisi e prestazioni.</p>
  <p>Sono cookie utilizzati per raccogliere e analizzare il traffico e l’utilizzo del sito in modo
    anonimo. Questi cookie, pur senza identificare l’utente, consentono, per esempio, di
    rilevare se il medesimo utente torna a collegarsi in momenti diversi. Permettono inoltre di
    monitorare il sistema e migliorarne le prestazioni e l’usabilità. La disattivazione di tali
    cookie può essere eseguita senza alcuna perdita di funzionalità.</p>

  <p class="raleway-bold">Cookie di profilazione.</p>
  <p>Si tratta di cookie permanenti utilizzati per identificare (in modo anonimo e non) le
    preferenze dell’utente e migliorare la sua esperienza di navigazione. Il sito non utilizza
    cookie di questo tipo.</p>

  <p class="raleway-bold">Cookie di terze parti</p>
  <p>Visitando un sito web si possono ricevere cookie sia dal sito visitato (“proprietari”), sia da
    siti gestiti da altre organizzazioni (“terze parti”). Un esempio notevole è rappresentato dalla
    presenza dei “social plugin” per Facebook, Instagram, LinkedIn e YouTube. Si tratta di
    parti della pagina visitata generate direttamente dai suddetti siti ed integrati nella pagina
    del sito ospitante. L’utilizzo più comune dei social plugin è finalizzato alla condivisione dei
    contenuti sui social network.</p>

  <p>La presenza di questi plugin comporta la trasmissione di cookie da e verso tutti i siti gestiti
    da terze parti. La gestione delle informazioni raccolte da “terze parti” è disciplinata dalle
    relative informative cui si prega di fare riferimento. Per garantire una maggiore trasparenza
    e comodità, si riportano qui di seguito gli indirizzi web delle diverse informative e delle
    modalità per la gestione dei cookie. Facebook informativa: (link)Facebook
    (configurazione): accedere al proprio account. Sezione privacy. Instagram informative:
    (link)Instagram (configurazione): (link)Linkedin informativa: (link)Linkedin (configurazione):
    (link)YouTube informativa: (link)YouTube (configurazione): (link)</p>

  <p class="raleway-bold">Google Analytics</p>
  <p>Il sito può includere anche talune componenti trasmesse da Google Analytics, un servizio
    di analisi del traffico web fornito da Google, Inc. (“Google”). Anche in questo caso si tratta
    di cookie di terze parti raccolti e gestiti per monitorare e migliorare le prestazioni del sito
    ospite (performance cookie). Google Analytics utilizza i “cookie” per raccogliere e
    analizzare le informazioni sui comportamenti di utilizzo del sito web (compreso l’indirizzo
    IP dell’utente). Tali informazioni vengono raccolte da Google Analytics, che le elabora allo
    scopo di redigere report per gli operatori del sito riguardanti le attività sul sito web stesso.
    Per ulteriori informazioni, si rinvia al link di seguito indicato: <a
      href="https://policies.google.com/technologies/partner-sites">Link</a> L’utente può disabilitare in
    modo selettivo l’azione di Google Analytics installando sul proprio browser la componente
    di opt-out fornito da Google. Per disabilitare l’azione di Google Analytics, si rinvia al link di
    seguito indicato: <a href="https://tools.google.com/dlpage/gaoptout">Link</a></p>

  <p class="raleway-bold">Durata dei cookie</p>
  <p>Alcuni cookie (cookie di sessione) restano attivi solo fino alla chiusura del browser o
    all’esecuzione del comando di logout. Altri cookie “sopravvivono” alla chiusura del browser
    e sono disponibili anche in successive visite dell’utente. Questi cookie sono detti
    persistenti e la loro durata è fissata dal server al momento della loro creazione. In alcuni
    casi è fissata una scadenza, in altri casi la durata è illimitata. Navigando sulle pagine del
    sito, si può interagire con siti gestiti da terze parti che possono creare o modificare cookie
    permanenti e di profilazione.</p>

  <p class="raleway-bold">Gestione dei cookie</p>
  <p>L’utente può decidere se accettare o meno i cookie utilizzando le impostazioni del proprio
    browser. Attenzione: la disabilitazione totale o parziale dei cookie tecnici può
    compromettere l’utilizzo delle funzionalità del sito. La disabilitazione dei cookie “terze parti”
    non pregiudica in alcun modo la navigabilità. L’impostazione può essere definita in modo
    specifico per i diversi siti e applicazioni web. Inoltre i migliori browser consentono di
    definire impostazioni diverse per i cookie “proprietari” e per quelli di “terze parti”. A titolo di
    esempio, in Firefox, attraverso il menu Strumenti-&gt;Opzioni -&gt;Privacy, è possibile accedere
    ad un pannello di controllo dove è possibile definire se accettare o meno i diversi tipi di
    cookie e procedere alla loro rimozione. Chrome: Link Firefox: Link Internet Explorer: Link
    Opera: Link Safari: Link Fermo restando quanto precede, informiamo che l’Utente può
    avvalersi di Your Online Choices. Attraverso tale servizio è possibile gestire le preferenze
    di tracciamento della maggior parte degli strumenti pubblicitari. Il Titolare, pertanto,
    consiglia agli Utenti di utilizzare tale risorsa in aggiunta alle informazioni fornite dal
    presente documento.</p>

  <h2 class="raleway-bold">Privacy Policy</h2>
  <p class="raleway-bold">INFORMATIVA PER IL TRATTAMENTO DI DATI PERSONALI COMUNI</p>
  <p>Documento informativo ai sensi e per gli effetti di cui all’art. 13 del D.Lgs. 30 giugno 2003
    n° 196 In osservanza di quanto disciplinato dal D.Lgs. 30 giugno 2003 n° 196, Le forniamo
    le informazioni sulle finalità e modalità di trattamento dei suoi dati personali, sull’ambito di
    comunicazione e diffusione degli stessi, sulla natura dei dati in nostro possesso e sul loro
    conferimento.</p>

  <p class="raleway-bold">Finalità del trattamento:</p>
  <p>la raccolta, ovvero il trattamento dei suoi dati personali ha l’esclusiva finalità di inviare
    comunicazioni e la Newsletter TEDx Montebelluna all’indirizzo di posta elettronica fornito.
    La Newsletter potrà contenere informazioni, segnalazioni eventi.</p>

  <p class="raleway-bold">Modalità del trattamento:</p>
  <p>Il trattamento sarà effettuato con l‘ausilio dei mezzi e dei sistemi informatici a nostra
    disposizione che verranno adeguati alle misure di sicurezza previste dal D .Lgs. 30 giugno
    2003 n ° 196; tali dati verranno trattati esclusivamente dai soggetti appositamente
    incaricati dalla nostra società.
    In particolare il trattamento avverrà a cura dei membri facenti parte di TEDx Montebelluna;
    gli incaricati dell’area commerciale; il personale della nostra amministrazione ed il
    personale tecnico per quanto di competenza.
    Le rendiamo noto che i suoi dati personali verranno costantemente tenuti aggiornati nel
    nostro database con quelli che Lei provvederà a comunicarci.</p>

  <p class="raleway-bold">Ambito di comunicazione e diffusione dei dati in nostro possesso:</p>
  <p>I suoi dati in nostro possesso verranno conservati all’interno della nostra società e saranno
    conosciuti dai soli soggetti incaricati. Tali dati non verranno quindi ceduti a terzi.</p>

  <p class="raleway-bold">Fonte dei dati:</p>
  <p>TEDx Montebelluna è in possesso dei suoi dati personali in quanto precedentemente da
    Lei messi a nostra disposizione.</p>

  <p class="raleway-bold">Natura del conferimento:</p>
  <p>Il conferimento dei dati messi a nostra disposizione è per Lei facoltativo. In caso non
    desiderasse riceve ulteriori comunicazioni, la preghiamo di informarci per iscritto.
    A tale proposito sarà sufficiente inviare una semplice mail all’indirizzo:
    info@tedxmontebelluna.com
    Ovviamente, nel caso ci richiedesse la cancellazione dei suoi dati necessari all’invio di
    inviti e informazioni sui nostri eventi, servizi e ricerche, perderà le opportunità derivanti
    dall’aggiornamento sulle nostre future attività.</p>

  <p>La informiamo anche che Lei avrà comunque in qualsiasi momento la possibilità di
    conoscere i suoi dati in nostro possesso e di richiederne l’aggiornamento, la rettifica,
    l’integrazione o la cancellazione dal nostro database.
    Qualora non ricevessimo un suo riscontro in merito, continueremo ad inviarle
    comunicazioni relative alle nostre iniziative.</p>

  <p class="raleway-bold">Diritti dell’interessato:</p>
  <p>L’interessato può esercitare tutti i diritti previsti dall’art. 7 del D. Lgs. 196/03, in particolare
    di conoscere quali suoi dati sono presenti nell’archivio e di ottenerne la cancellazione.
    L’art. 7 del D. Lgs. 196/03 recita:1. In relazione al trattamento di dati personali l’interessato
    ha diritto di ottenere conferma dell’esistenza o meno di dati personali che lo riguardano
    anche se non ancora registrati e la loro comunicazione in forma intelligibile. 2.
    L’interessato ha diritto di ottenere indicazione in relazione a: origine dei dati; finalità del
    trattamento; logica del trattamento; estremi identificativi del Titolare e dei Responsabili; dei
    soggetti ai quali i dati possono essere comunicati. 3. L’interessato ha inoltre diritto di
    ottenere: l’aggiornamento, la rettificazione o l’integrazione dei dati raccolti; la
    cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione
    della legge compresi quelli di cui non è necessaria la conservazione in relazione agli scopi
    per i quali i dati sono stati raccolti o successivamente trattati; l’attestazione che le
    operazioni di cui ai precedenti punti sono state portate a conoscenza a coloro ai quali tali
    dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela
    impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al
    diritto tutelato. 4. L’interessato ha inoltre diritto di opporsi, in tutto o in parte: per motivi
    legittimi al trattamento dei dati personali che lo riguardano ancorché pertinenti allo scopo
    della raccolta; al trattamento dei dati personali che lo riguardano a fini di invio di materiale
    pubblicitario.
  </p>
  <p class="raleway-bold">Titolare del trattamento:</p>
  <p class="raleway-bold">TEDx Montebelluna, con sede in Piazza Oberkochen 25/4 - 31044 Montebelluna (TV).</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Chiudi</button>
</div>
